// Core variables , minxins , % and function
@import "variables";
@import "mixins";
@import "function";
@import "percent";

// Reset and dependencies
@import "public/reset";
@import "public/base";


.el-upload-dragger {
    width: 360px;
    height: 100px;
}

.el-upload-dragger .el-icon-upload {
    margin: 20px 0 16px;
}

.el-submenu .el-menu-item {
    min-width: 180px;
}

.table-expand {
    font-size: 0;
}
.table-expand label {
    width: 90px;
    color: #99a9bf;
}
.table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 25%;
}

.el-dialog__body {
    padding-right: 55px;
    overflow: auto;
    max-height: 400px;
}