// Core variables , minxins , % and function
@import "variables";
@import "mixins";
@import "function";
@import "percent";

// Reset and dependencies
@import "public/reset";
@import "public/base";


.el-upload-dragger {
    width: 360px;
    height: 100px;
}

.el-upload-dragger .el-icon-upload {
    margin: 20px 0 16px;
}

.el-submenu .el-menu-item {
    min-width: 180px;
}

.table-expand {
    font-size: 0;
}
.table-expand label {
    width: 90px;
    color: #99a9bf;
}
.table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 25%;
}

.el-dialog__body {
    padding-right: 55px;
    overflow: auto;
    max-height: 400px;
}

// product-comment.vue、product-custom.vue、product-img.vue、category-child.vue
// 使用
.basic-model > div#operate {
    margin-top: 1rem !important;
}
.parent-info{
    color:#999999;
    height: 40px;
    overflow: hidden; 
    text-overflow:ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.numbers {
    margin-top: 20px;
    margin-bottom: -60px;

    span {
        font-size: 2rem;
        margin-right: 50px;
    }
}

.basic-model>div#operate {
    margin-top: 6rem;
}

#middle #back {
    position: absolute;
    top: 70px;
    right: 26px;
}
